li {
  list-style-type: none; /* Убираем маркеры */
 }

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  z-index: -1;
}

.page__link {
  color: #2f80ed;
  text-decoration: none;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.logo {
  width: 183px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  position: absolute;
  left: 64px;
  margin: 0;
  z-index: 5;
}

.header__title_text {
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  margin: 0;
  padding: 0;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 4;
  margin:0;
}

.header__subtitle_text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right:0;
  bottom: 0;
  z-index: 3;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 2;
}

.content {}

.desription {
  margin: 100px 0 0;
  display: flex;
  justify-content: center;
}

.two-columns {
  display:grid;
  grid-template-columns: 175px minmax(784px, 80%);
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin:0;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0 0 30px;  
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin: 100px 0;
}

.section__box {
  width: 60%;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  text-align: center;
  margin: 20px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section__table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.table__text_add {
  margin: 20px 0 0;
}

.feynman {
  height: 790px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: flex-start;
  padding-top: 80px;
}

.feynman__title {
  margin: 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 5;
}

.feynman__subtitle {
  margin: 70px 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 4;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.kaufman {
  margin: 0 auto;
  padding: 90px 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.section__table_theme_dark{
  
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 3;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  height: 35px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  margin: 18px 0;
  font-weight: normal;
  align-self: flex-start;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 16px;
  padding: 0;
}

.footer__link {
  color:white;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  min-height: 16px;
  padding-right: 10px;
}