.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  z-index: -1;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.logo {
  width: 183px;
  height: 32px;
  margin: 0;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  position: absolute;
  left: 64px;
  margin: 0;
  z-index: 5;
}

.header__title_text {
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  margin: 0;
  padding: 0;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 4;
  margin:0;
}

.header__subtitle_text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right:0;
  bottom: 0;
  z-index: 3;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 2;
}

/*.content {
  
}*/

.description {
  margin: 100px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.two-columns {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 80%;
  position: relative;
}

.two-columns__brief {
  width: 175px;
  position: absolute;
  left:0;
  top: 0; 
}

.two-columns__brief_text {
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin:0;
  vertical-align: text-top;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  margin: 0;
  position: absolute;
  right:0;
  top: 0; 
}

.two-columns__main-text_paragraph {
  margin: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__main-text_paragraph:last-child {
  margin: 0;
}

.two-columns__main-text_span-accent {
  color: black;
  font-weight: bold;
}

.digits {
  display: flex;
  position: relative;
  align-items: center;
  
}














/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
